<p style="color: green"><%= notice %></p>


<div class="header d-flex align-items-center">
  <div class="flex-shrink-0 col-4">
    <% if @post.image.attached?%>
      <%= image_tag(@post.image, class:"intro-image")%>
    <%end%>
  </div>
  <div class="article-header-content col-8">
    <h2>
      <%= @post.title%>
    </h2>

    <p>
      <%= @post.introduction%>
    </p>
  </div>
</div>


<br>


<div class="content-text">
  <%= @post.content%>
</div>  




<div>

  <h5>Comments:<%= @post.comments.count%></h5>

  <%= render "active_storage/comments/form", post: @post%>

  <% @post.comments.each do |comment|%>

    <%= render "active_storage/comments/comment", post: @post, comment: comment%>

  <%end%>

</div>




<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>



